html {
  background-color: bisque;
}

body {
  background-color: blanchedalmond;
  width: 600px;
  border: solid 20px;
  margin: 10px auto;
  border-radius: 10px;
}

.border {
  border: solid 2px;
  margin: 10px;
  border-radius: 10px;
}
h2 {
  color: rgb(173, 29, 29);
}

h3 {
  color: rgb(119, 58, 30);
}
